<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--映射文件的位置-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <mappers>
<!--        <mapper resource="com/dao/UserMapper.xml"/>-->
        <mapper class="com.dao.MySqlDao"/>
    </mappers>
</configuration>